{% extends "conteneur.html" %}
<!--On lie la structure generale de nos templates definie dans conteneur.html avec la structure specifique de la page accueil.html grace a extends.-->

{% block corps %}
    <h1>Bienvenue sur Women Make Litterature !</h1>
    {% if romancieres %}
    <p>Il y a {{romancieres|length}} romancières enregistrées :</p>
    	<ul>
    	 {% for romanciere in romancieres %}
                <li><a href="{{url_for('romanciere', id_femme=romanciere.id_femme)}}"> {% if not romanciere.prenom_auteur %}{% else %}{{romanciere.prenom_auteur}}{% endif %} {{romanciere.nom_auteur}}</a></li>
            {% endfor %}
          </ul>
    <p>Nous avons besoin de votre aide pour enrichir ce site !</p>
    {% else %}
    	<p>La base de données est en cours de constitution.</p>
    {% endif %}
{% endblock %}
