<!--Page 'accueil' du site-->
{% extends "conteneur.html" %}

{% block titre %}| Page d'accueil{%endblock%}

{% block corps %}
    <header>
        <figure style="text-align:center">
                <a href="https://commons.wikimedia.org/w/index.php?search=georges+sand&title=Special:Search&go=Go&ns0=1&ns6=1&ns12=1&ns14=1&ns100=1&ns106=1#/media/File:George_Sand_by_Nadar,_1864.jpg">
                <img width="300" src="{{ url_for('static', filename='images/George_Sand_by_Nadar.jpg')}}"></a>
                <figcaption>Nadar, Portrait de Georges Sand, 1864</figcaption>
        </figure>
        <h1 id="titre1">Bienvenue sur Women Make Litterature !</h1>

        <h3 id="titre3">Ce site vous propose de découvrir ou redécouvrir des femmes de lettres françaises et plus spécifiquement des romancières ! Vous pouvez explorer de courtes <a href="{{url_for('index_romanciere')}}"> biographies</a> de ces femmes, ou encore la <a href="{{url_for('portrait')}}">galerie de portraits</a>.</h3>
    </header>
    <div>
        <p>Valoriser la littérature féminine vous intéresse ? Vous pouvez nous aider à enrichir cette base en vous inscrivant <a href="{{url_for('inscription')}}"> ici</a>.</p>
    </div>
    
{% endblock %}
