<!--Page 'accueil' du site-->

{% extends "conteneur.html" %}
<!--On lie la structure generale de nos templates definie dans conteneur.html avec la structure specifique de la page accueil.html grace a extends.-->
{% block afternav %}
    {% include "partials/recherche.html" %}
{%endblock%}
{% block corps %}
    <h1>Bienvenue sur Women Make Litterature !</h1>
        <div style="text-align: center">
            <a title="Jean-Honoré Fragonard/ Public domain" href="https://commons.wikimedia.org/wiki/File:Fragonard,_The_Reader.jpg"><img width="256" alt="Fragonard, The Reader" src="{{ url_for('static', filename='images/FRAGONARD_LaLiseuse.jpg')}}"></a>
        </div>

    <h2>Ce site vous propose de découvrir ou redécouvrir des femmes de lettres françaises !</h2>

    <p>Vous pouvez explorer :
    <ul>
        <li>Des courtes <a href="{{url_for('index_romanciere')}}"> biographies de ces femmes</a></li>

        <li>La <a href="{{url_for('portrait')}}">galerie de portraits</a> de ces femmes de lettres</li>

        <li>La liste des principales oeuvres de ces femmes</li>
    </ul>
    </p>
    <p>Valoriser la littérature féminine vous intéresse ? Vous pouvez nous aider à enrichir cette base en vous inscrivant <a href="{{url_for('inscription')}}"> ici</a>.</p>
    
{% endblock %}
