<!--Page 'connexion' du site -->

{% extends "conteneur.html" %}

{% block titre %}| Connexion{%endblock%}

{% block corps %}
<section>
<h2>Connexion</h2>
<form method="POST" action="{{url_for('connexion')}}">
  <div>
    <div>
      <label for="register-login">Identifiant</label>
      <div >
        <input type="text" id="register-login" name="login" placeholder="Nom d'utilisateur">
      </div>
    </div>
    <div >
      <label for="register-password">Mot de passe</label>
      <div >
        <input type="password" id="register-password" placeholder="Mot de passe" name="motdepasse">
      </div>
    </div>
    <div>
      <button type="submit">Connexion</button>
      <button><a href="{{url_for('inscription')}}">Inscription</a></button>
    </div>
  </div>
</form>
</section>
{% endblock %}