<!--Page 'creer_oeuvre' du site -->


{% extends "conteneur.html" %}

{% block titre %}| Ajout d'une oeuvre{%endblock%}

{% block corps %}
	<header>
		<h1 id="titre1">Ajout d'une oeuvre</h1>
	</header>
	<div>
		<p>Pour ajouter une nouvelle oeuvre à la base de données, complétez le formulaire et cliquez sur "Ajouter".</p>
	</div>
	<form method="POST" action="{{url_for('creation_oeuvre', id_femme=romanciere.id_femme)}}">
		<div>
			<label for="new_titre">Titre de l'oeuvre</label>
			<div>
				<input type="text" name="new_titre" maxlength="300">
			</div>
			</div>
		<div>
			<label for="new_date_premiere_pub">Date de la première publication</label>
			<div>
				<input type="text" name="new_date_premiere_pub" placeholder="AAAA" minlength="4"maxlength="4">
			</div>
		</div>
		<div>
			<label for="new_editeur">Editeur</label>
			<div>
				<input type="text" name="new_editeur" maxlength="300">
			</div>
		</div>
		<div>
			<label for="new_lieu_publication">Lieu de publication</label>
			<div>
				<input type="text" name="new_lieu_publication" maxlength="300">
			</div>
		</div>
		<div>
			<label for="new_nombre_pages">Nombre de pages</label>
			<div>
				<input type="text" name="new_nombre_pages" maxlength="5">
			</div>
		</div>
		<div>
			<button type="submit">Ajouter</button>
		</div>
	</form>
{% endblock %}