<!--Page 'galerie' du site -->


{% extends "conteneur_galerie.html" %}
{% block afternav %}
    {% include "partials/recherche.html" %}
{% endblock %}

{% block corps %}
    <h1>Galerie des femmes de lettres française</h1>

    {% if portraits %}
        {% for portrait in portraits %}
            {% if portrait.url_portrait %}
            <div class="gallery">
                <a target="_blank">
                    <img src="{{url_for('static', filename=portrait.url_portrait)}}" width="800" heigth="600" />
                </a>
                <div class="desc">
                    <p>{% if not portrait.techniques %}Portrait {% else %} {{portrait.techniques}}{% endif %} réalisé {% if not portrait.nom_createur %}{% else %}par {{portrait.prenom_createur}} {{portrait.nom_createur}}{% endif %} {% if not portrait.annee_realisation %}{% else %}en {{portrait.annee_realisation}}{% endif %}. {% if not portrait.lieu_conservation %}{% else %}Lieu de conservation : {{portrait.lieu_conservation}}.{% endif %}</p>
                </div>
            </div>
            {% else %}
            {% endif %}
        {% endfor %}
    {% else %}
        <p>La base de données est en cours de constitution.</p>
    {% endif %}
{% endblock %}

