<!--Page 'inscription' du site -->

{% extends "conteneur.html" %}

{% block titre %}| Inscription{%endblock%}

{% block corps %}

<section>
  <h1>Inscription</h1>
  <h2>Complétez le formulaire et cliquez sur "S'inscrire".</h2>
  <form method="POST" action="{{url_for('inscription')}}">
    <div>
      <div>
        <label for="register-login">Nom d'utilisateur</label>
        <div>
          <input type="text" id="register-login" name="login">
        </div>
      </div>
      <div>
        <label for="register-nom">Nom</label>
        <div>
          <input type="text" id="register-nom" placeholder="Votre nom pour les crédits" name="nom">
        </div>
      </div>
      <div>
        <label for="register-email">Email</label>
        <div>
          <input type="email" id="register-email" placeholder="email@example.com" name="email">
        </div>
      </div>
      <div>
         <label for="register-password">Mot de passe</label>
        <div>
          <input type="password" id="register-password" placeholder="Mot de passe" name="motdepasse">
        </div>
      </div>
    <div>
        <button type="submit">S'inscrire</button>
    </div>
  </div>
  </form>
</section>
{% endblock %}