
{% extends "conteneur.html" %}

{% block titre %}| Modification d'un portrait{%endblock%}

{% block corps %}

<section>
	<h1>Modification des données d'un portrait</h1>
	<h2>Pour modifier les données d'un portrait déjà existant, complétez le formulaire et cliquez sur "Modifier".</h2>
	<form method="POST" action="{{url_for('modification_portrait', id_portrait=portrait.id_portrait)}}">
			<div>
				<div>
					<label for="Url_portrait">Url du portrait</label>
					<div>
						<input type="text" id="Url_portrait" name="Titre" maxlength="300" value="{{portrait.url_portrait}}">
					</div>
				</div>
				<div>
					<label for="Nom_createur">Nom du réalisateur du portrait</label>
					<div>
						<input type="text" id="Nom_createur" name="Nom_createur" value="{{portrait.nom_createur}}">
					</div>
				</div>
				<div>
					<label for="Prenom_createur">Prénom du réalisateur du portrait</label>
					<div>
						<input type="text" id="Prenom_createur" name="Prenom_createur" maxlength="300" value="{{portrait.prenom_createur}}">
					</div>
				</div>
				<div>
					<label for="Annee_realisation">Année de réalisation</label>
					<div>
						<input type="text" id="Annee_realisation" name="Annee_realisation" maxlength="4" value="{{portrait.annee_realisation}}" placeholder="AAAA">
					</div>
				</div>
				<div>
					<label for="Techniques">Techniques utilisées</label>
					<div>
						<input type="text" id="Techniques" name="Techniques" maxlength="300" value="{{portrait.techniques}}">
					</div>
				</div>
				<div>
					<label for="Lieu_conservation">Lieu/Institution de conservation</label>
					<div>
						<input type="text" id="Lieu_conservation" name="Lieu_conservation" maxlength="300" value="{{portrait.lieu_conservation}}">
					</div>
				</div>
				<div>
					<button type="submit" value="créer">Modifier</button>
				</div>
			</div>
	</form>
</section>
{% endblock %}