{% extends "conteneur.html" %}

{% block titre %}
    {%if oeuvre %}| Portrait {% endif %}
{% endblock %}

{% block corps %}
    <header>
        <h1 id="titre1">Portrait de {{romanciere.prenom_auteur}} {{romanciere.nom_auteur}}</h1>
    </header>
    {% if portrait %}
    <div>
        <figure style="text-align: center">
            <a href="{{portrait.url_portrait}}"><img src="{{portrait.url_portrait}}" width="400"/></a>
        </figure>
        <dl style="text-align: center">
            <dt>Artiste</dt>{% if not portrait.nom_createur %}<dd>Non renseigné-e</dd>{% else %}<dd>{{portrait.prenom_createur}} {{portrait.nom_createur}}</dd>{% endif %}
            <dt>
            <dt>Année de réalisation</dt>{% if not portrait.annee_realisation %}<dd>Non renseignée</dd>{% else %}<dd>{{portrait.annee_realisation}}</dd>{% endif %}
            <dt>Technique utilisée</dt>{% if not portrait.techniques %}<dd>Non renseigné</dd>{% else %}<dd>{{portrait.techniques}}</dd>{% endif %}
            <dt>Lieu/Institution de conservation</dt>{% if not portrait.lieu_conservation %}<dd>Non renseigné-e</dd>{% else %}<dd>{{portrait.lieu_conservation}}</dd>{% endif %}
        </dl>
        {% if current_user.is_authenticated %}
        <div>
            <p style="text-align:center">
                <a href="{{url_for('modification_portrait', id_portrait=portrait.id_portrait)}}">Modifier le portrait</a> || <a href="{{url_for('suppression_portrait', id_portrait=portrait.id_portrait)}}">Supprimer le portrait</a>
            </p>
        </div>
    </div>
    {% endif %}
    {% else %}
    <div>
        <p style="text-align:center">La notice que vous recherchez n'existe pas ou plus.</p>
    </div>
    {% endif %}
{% endblock %}
