<!--Page 'romanciere' du site -->

{% extends "conteneur.html" %}

{% block titre %}
    {%if romanciere %}| Romancière : 
    {{romanciere.prenom_auteur}} {{romanciere.nom_auteur}} {% endif %}
{% endblock %}


{% block corps %}
<!--Dans le bloc corps, les conditions ont ete multipliees. Enfin, l'ensemble des informations ne pourront pas etre completees pour l'ensemble des romancieres.-->
{% if portraits %}
    {% for portrait in portraits %}
        <figure>
            <a href="{url_for('portrait_individuel', id_portrait=portrait.id_portrait)"><img src="{{portrait.url_portrait}}" width="256" class="rounded-circle" style="position: absolute; left:900px; top:220px"></a>
            <figcaption>{{portrait.annee_realisation}}</figcaption>
        </figure>
    {% endfor %}
{% else %}
    <figure>
        <img src="{{ url_for('static', filename='images/silhouette.jpg')}}" width="256" class="rounded-circle" style="position: absolute; left:900px; top:220px"/>
    </figure>
{% endif %}

<section>
{% if romanciere %}
    <div>
        <h1>{{romanciere.prenom_auteur}} {{romanciere.nom_auteur}}</h1>
            {% if not romanciere.pseudonyme %}
            {% else %}
                <h2>Dite {{romanciere.pseudonyme}}</h2>
            {% endif %}
            <dl> 
                {% if not romanciere.prenom_naissance %}
                {% else %}
                <dt>Nom de naissance</dt><dd>{{romanciere.prenom_naissance}} {{romanciere.nom_naissance}}</dd>
                {% endif %}
                {% if not romanciere.date_naissance %}
                <dt>Date de naissance</dt><dd>Non renseignée</dd>
                {% else %}
                <dt>Date de naissance</dt><dd>{{romanciere.date_naissance}}</dd>
                {% endif %}
                {% if not romanciere.lieu_naissance %}
                <dt>Lieu de naissance</dt><dd>Non renseigné</dd>
                {% else %}
                <dt>Lieu de naissance</dt><dd>{{romanciere.lieu_naissance}}</dd>
                {% endif %}
                {% if not romanciere.date_mort %} 
                <dt>Date de décès</dt><dd>Non renseignée</dd>
                {% else %}
                <dt>Date de décès</dt><dd>{{romanciere.date_mort}}</dd>
                {% endif %}
                {% if not romanciere.lieu_mort %}
                <dt>Lieu de décès</dt><dd>Non renseigné</dd>
                {% else %}
                <dt>Lieu de décès</dt><dd>{{romanciere.lieu_mort}}</dd>
                {% endif %}
            </dl>
        {% else %}
            <p style="text-align:center">La notice que vous recherchez n'existe pas ou plus.</p>
    </div>
{% endif %}


{% if oeuvres %}
    <div>
        <h2>Oeuvres principales de la romancière :</h2>
        {%for oeuvre in oeuvres %}
            <dl>
                <dt>
                    <em>{{oeuvre.titre}}</em>
                </dt>
                <dd><a href="{{url_for('oeuvre', id_oeuvre=oeuvre.id_oeuvre)}}">En savoir plus</a>
                </dd>
            </dl>
        {% endfor %}
    {% else %}
    </div>
{% endif %}

    {% if current_user.is_authenticated %}
        <center>
            <p>
                <a href="{{url_for('modification_romanciere', identifier=romanciere.id_femme)}}">Modifier la romancière</a> || <a href="{{url_for('suppression_romanciere', identifier=romanciere.id_femme)}}">Supprimer la romancière</a> || <a href="{{url_for('creation_oeuvre', id_femme=romanciere.id_femme)}}">Ajouter une oeuvre</a>
            </p>
        </center>
    {% endif %}
</section>
{% endblock %}