<!--Page 'romanciere' du site -->


{% extends "conteneur.html" %}
<!--On lie la structure generale de nos templates definie dans conteneur.html avec la structure specifique de la page romancieres.html grace a extends.-->

{% block titre %}
    {%if romanciere %}| Romancière : 
    {{romanciere.prenom_auteur}} {{romanciere.nom_auteur}} {% endif %}
{% endblock %}


{% block corps %}

{% if portraits %}
        {% for portrait in portraits %}
            {% if not portrait.url_portrait %}
                <figure>
                    <img src="{{ url_for('static', filename='images/silhouette.jpg')}}" width="256" class="rounded-circle" style="position: absolute; top: 30px; left: 800px"/>
                </figure>
            {% else %}
                <figure>
                    <img src="{{url_for('static', filename=portrait.url_portrait)}}" width="256" class="rounded-circle" style="position: absolute; top: 30px; left: 800px"/>
                    <figcaption>
                    {% if not portrait.techniques %}Portrait {% else %} {{portrait.techniques}}{% endif %} réalisé {% if not portrait.nom_createur %}{% else %}par {{portrait.prenom_createur}} {{portrait.nom_createur}}{% endif %} {% if not portrait.annee_realisation %}{% else %}en {{portrait.annee_realisation}}{% endif %}. {% if not portrait.lieu_conservation %}{% else %}Lieu de conservation : {{portrait.lieu_conservation}}.{% endif %}</figcaption>
                </figure>
            {% endif %}
        {% endfor %}
    {% else %}
    {% endif %}

<!--Dans le bloc corps, les conditions ont ete multipliees. Enfin, l'ensemble des informations ne pourront pas etre completees pour l'ensemble des romancieres.-->
    {% if romanciere %}
            <h1>{{romanciere.prenom_auteur}} {{romanciere.nom_auteur}}</h1>
            {% if not romanciere.pseudonyme %}
            <h2></h2>
            {% else %}
            <h2>Dite {{romanciere.pseudonyme}}</h2>
            {% endif %}
            <dl> 
                {% if not romanciere.prenom_naissance %}
                {% else %}
                <dt>Nom de naissance <dd>{{romanciere.prenom_naissance}} {{romanciere.nom_naissance}}</dd></dt>
                {% endif %}
                {% if not romanciere.date_naissance %}
                <dt>Date de naissance</dt><dd>Non renseignée</dd>
                {% else %}
                <dt>Date de naissance</dt><dd>{{romanciere.date_naissance}}</dd>
                {% endif %}
                {% if not romanciere.lieu_naissance %}
                <dt>Lieu de naissance</dt><dd>Non renseigné</dd>
                {% else %}
                <dt>Lieu de naissance</dt><dd>{{romanciere.lieu_naissance}}</dd>
                {% endif %}
                {% if not romanciere.date_mort %} 
                <dt>Date de décès</dt><dd>Non renseignée</dd>
                {% else %}
                <dt>Date de décès</dt><dd>{{romanciere.date_mort}}</dd>
                {% endif %}
                {% if not romanciere.lieu_mort %}
                <dt>Lieu de décès</dt><dd>Non renseigné</dd>
                {% else %}
                <dt>Lieu de décès</dt><dd>{{romanciere.lieu_mort}}</dd>
                {% endif %}
            </dl>
        {% else %}
            <p style="text-align:center">La notice que vous recherchez n'existe pas ou plus.</p>
        {% endif %}


    {% if oeuvres %}
        <h3>Oeuvres principales de la romancière :</h3>
        {%for oeuvre in oeuvres %}
            <dl>
                <dt>
                    <em>{{oeuvre.titre}}</em>
                </dt>
                <dd><a href="{{url_for('oeuvre', id_oeuvre=oeuvre.id_oeuvre)}}">En savoir plus</a>
                </dd>
            </dl>
        {% endfor %}
    {% else %}
    {% endif %}

    {% if current_user.is_authenticated %}
        <center>
            <p>
                <a href="{{url_for('modification_romanciere', identifier=romanciere.id_femme)}}">Modifier la romancière</a> | <a href="{{url_for('suppression_romanciere', identifier=romanciere.id_femme)}}">Supprimer la romancière</a> | <a href="{{url_for('creation_oeuvre', id_femme=romanciere.id_femme)}}">Ajouter une oeuvre</a> | <a href="{{(url_for('creation_portrait', id_femme=romanciere.id_femme))}}">Ajouter un portrait</a>
            </p>
        </center>
    {% endif %}
{% endblock %}