
/* Eléments principaux de la page */

body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: #F0F8FF;
}

#bloc_page
{
    width: 1100px;
    margin: auto;
}

section h1 nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Les liens */
a {
text-decoration: none;
color: #696969;
}

a:hover{
  color: navy;
}

dl {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: bold;
  color: teal;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
  font-weight: normal;
  color: black;
}

/* Conteneur.html */

#header_conteneur
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
    color:#048b9a;
}


#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 59px;
    height: 60px;
}

#h1_conteneur
{
    font-family: 'BallparkWeiner', serif;
    font-size: 3em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

/* Corps */

#titre1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2em;
    color:#000080;
    text-align: center;

}

#titre2
{
  font-family: 'Dayrom', serif;
    font-size: 1em;
}

#titre3
{
	font-family: 'BallparkWeiner', serif;
    font-size: 1em;
    text-align: center;
}


/* Navigation*/

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 40px;
    margin-top: 20px;
    position: relative;
}

nav a
{
    font-size: 1em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

.sous{
  display:none;
  box-shadow: 0px 1px 2px #CCC;
  background-color: F0F8FF;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
nav > ul li:hover .sous{
  display: block;
}

.deroulant > a::after{
  content:"▼";
  font-size: 12px;
}

.sous li{
  float: none;
  width: 100%;
  text-align: left;
}

.sous a{
  padding: 10 px;
  border-bottom: none;
}

.sous a:hover{
  border-bottom: none;
  color: #760001;
  border-bottom: 3px solid #760001;
}

/* Gestion des messages flash */

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}


/* Gestion des grilles et formulaires*/

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -ms-flex-positive: 1;
      flex-grow: 1;
  max-width: 100%;
}

/* Gestion de la galerie et des portraits*/

div.gallery{
            margin: 5px;
            float: left;
            width: 200px;
            text-align: center;
            }

            div.gallery img {
                width: 100%;
                height: auto;
            }

.rounded-circle {
  border-radius: 50% !important;
}
